{% extends 'recipes/base.html' %}

{% block title %}All recipes{% endblock %}

{% block content %}

<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10">
		<h2>All Recipes</h2>
		<div class="infinite-container row">
		    {% for recipe in recipes %}
		    <div class="card recipe-card infinite-item">
								<div class="card-image">
									<a href="{% url 'recipes:detail' recipe.id %}"><img class="img-card" src="/static/img/{{ recipe.image }}.jpg"></a>
								</div>
								<div class="card-body">
					    			<h5 class="card-title"><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.title }}</a></h5>
					    			
					    			<hr />
					    			{% if recipe.tags %}
					    				{% for tag in recipe.tags.all %}
					    				<div class="tags">
					    					<a href="{% url 'recipes:tag' tag.id %}">{{ tag.name }}</a>
					    				</div>
					    				{% endfor %}
					    			{% endif %}
					  			</div>
							</div>
		    {% endfor %}
	    </div>
	    <div id="more">
	    	{% if recipes.has_next %}
				<a class="infinite-more-link btn btn-secondary" href="?page={{ recipes.next_page_number }}">More Recipes</a>
			{% endif %}
	    </div>
	</div>
</div>


<script>
var infinite = new Waypoint.Infinite({
  element: $('.infinite-container')[0]
});
</script>

{% endblock %}