{% extends 'recipes/base.html' %}
{% load bootstrap4 %}

{% block content %}
	<div class="row">
		<div class="col-md-12 col-lg-9">
			<h3>{{ recipe.title }}</h3>
			<hr />
			<p>
				<center>
					<a target="_blank" href="{{ recipe.url }}"><img src="/static/img/{{ recipe.id }}.jpg" height="240px" width="240px"></a>
				</center>
			</p>

			<h4>Ingredients</h4>
			<p>
				{% if ingredients %}
					<ul class="columns block" data-columns="2">
						{% for ingredient in ingredients %}
							<li>{{ ingredient }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</p>

			<h4>Steps</h4>
			<ol>
				{% if steps %}
					{% for step in steps %}
						<li>{{ step }}</li>
					{% endfor %}
				{% endif %}
			</ol>
		</div>

		<div class="col-md-12 col-lg-3">
			<div class="box mb-4">
			<h2>Update</h2>
			<hr/>
			<form action="" method="post">
	    		{% csrf_token %}
	    		{% bootstrap_form form %}
	    		<input class="btn btn-primary" type="submit" value="Submit">
			</form>

			{% if recipe.this_week %}
				<form action="cooked" method="post">
					{% csrf_token %}
					<input class="btn btn-primary" type="submit" value="Cooked">
				</form>
			{% endif %}


			{% if tags %}
				<h2>Tags</h2>
				<hr/>
			    <ul id="horizontal-list">
			    {% for tag in tags %}
			        <li><a href="{% url 'recipes:tag' tag.id %}">{{ tag.name }}</a></li>
			    {% endfor %}
			    </ul>
			{% endif %}
			</div>


		</div>
	</div>
{% endblock %}