{% extends 'recipes/base.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12 order-md-2 col-lg-8 order-lg-1">
		<h3>Newest recipes</h3>
		<hr />
		{% if latest_recipes_list %}
			<div class="row home">
				{% for recipe in latest_recipes_list %}
  					<div class="card recipe-card">
  						<div class="card-image">
      						<img class="img-card" src="/static/img/{{ recipe.image }}.jpg">
      					</div>
      					<div class="card-body">
				    		<h5 class="card-title">{{ recipe.title }}</h5>
				    		<hr />
				    		<a href="{% url 'recipes:detail' recipe.id %}" class="card-link btn btn-primary">View recipe</a>
				  		</div>
  					</div>
				{% endfor %}
				</div>
		{% endif %}

		<h3>Most popular recipes</h3>
		<hr />
		{% if most_popular_recipes_list %}
			<div class="row">
				{% for recipe in most_popular_recipes_list %}
					<div class="card recipe-card">
  						<div class="card-image">
      						<img class="img-card" src="/static/img/{{ recipe.image }}.jpg">
      					</div>
      					<div class="card-body">
				    		<h5 class="card-title">{{ recipe.title }}</h5>
				    		<hr />
				    		<a href="{% url 'recipes:detail' recipe.id %}" class="card-link btn btn-primary">View recipe</a>
				  		</div>
  					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>

	<div class="col-md-12 order-md-1 col-lg-3 order-lg-2">
		{% if this_week %}
			<h3>This week</h3>
			<hr />
			<ul class="single">
				{% for recipe in this_week %}
					<li><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.title }}</a>
						{% for item in shopping %}
							{% ifequal item.recipe.id recipe.id %}
								({{ item.name }})
							{% endifequal %}
						{% endfor %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if next_week %}
			<h3>Next week</h3>
			<hr />
			<ul class="single">
				{% for recipe in next_week %}
					<li><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.title }}</a>
					{% for item in shopping %}
						{% ifequal item.recipe.id recipe.id %}
							({{ item.name }})
						{% endifequal %}
					{% endfor %}
				{% endfor %}
				</li>
			</ul>
			<form action="move" method="post">
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" value="Move">
			</form>
		{% endif %}
	</div>
</div>

{% endblock %}