{% extends 'recipes/base.html' %}

{% block content %}
<div class="my-4 xs:mx-4 sm:mx-8 md:mx-12">
	<div class="grid grid-cols-1 lg:grid-cols-6 gap-4">
		<div class="lg:col-span-4">
			<p class="text-red text-center text-xl lowercase my-4 font-extrabold">Newest Recipes</p>

			<div class="columns-1 sm:columns-2 lg:columns-3">
				{% if latest_recipes_list %}
					{% for recipe in latest_recipes_list %}
						<div class="max-w-sm rounded-tl-3xl rounded-br-3xl overflow-hidden bg-rose border-red pb-4 mb-4">
						  <div class="w-full card-image">
						  	<a href="/recipes/{{recipe.id}}/detail">
								<img class="w-full" src="/static/img/{{recipe.image}}.jpg" alt="{{recipe.title}}">
							</a>
						  </div>
						  <div class="px-2 pt-2">
						  	<a href="/recipes/{{recipe.id}}/detail">
						    	<p class="text-red text-center lowercase font-extrabold">{{recipe.title}}</p>
							</a>
						  </div>
						  <hr />
						  <div class="text-center">
						  	<a href="/recipes/{{recipe.id}}/detail" class="text-navy hover:text-rose border-navy text-sm rounded-tl-xl rounded-br-xl px-5 py-1 hover:bg-navy">View recipe</a>
						  </div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="lg:col-span-2">
			{% if this_week %}
				<p class="text-red text-center text-xl lowercase my-1 font-extrabold">This week</p>
				<ul id="this-week" class="single mx-2">
					{% for thisWeekItem in this_week %}
						<li class="recipe_item rounded-tl-xl rounded-br-xl border-red my-2 p-1 text-rose hover:bg-rose hover:text-navy" data-recipe-id="{{ thisWeekItem.recipe.id }}"><i class="fas fa-paw mr-1"></i>
	                        <a class="hover:text-white" href="{% url 'recipes:detail' thisWeekItem.recipe.id %}">{{ thisWeekItem.recipe.title }}</a>
							{% for item in shopping %}
								{% if item.recipe.id == thisWeekItem.recipe.id %}
									({{ item.name }})
								{% endif %}
							{% endfor %} 
						</li>
					{% endfor %}
				</ul>
			{% endif %}

			{% if next_week %}
				<p class="text-red text-center text-xl lowercase my-1 font-extrabold">Next week</p>
				<ul id="next-week" class="single mx-2">
					{% for nextWeekItem in this_week %}
						<li class="recipe_item rounded-tl-xl rounded-br-xl border-red my-2 p-1 text-rose hover:bg-rose hover:text-navy" data-recipe-id="{{ thisWeekItem.recipe.id }}"><i class="fas fa-paw mr-1"></i>
	                        <a class="hover:text-white" href="{% url 'recipes:detail' nextWeekItem.recipe.id %}">{{ nextWeekItem.recipe.title }}</a>
							{% for item in shopping %}
								{% if item.recipe.id == nextWeekItem.recipe.id %}
									({{ item.name }})
								{% endif %}
							{% endfor %} 
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}