{% extends 'recipes/base.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-8">
			<h3>Newest recipes</h3>
			{% if latest_recipes_list %}
				<div class="container">
  					<div class="row">
					{% for recipe in latest_recipes_list %}
						<div class="col-md-4">
	      					<div class="card">
	      						<a href="{% url 'recipes:detail' recipe.id %}">
			  						<div class="card-image">
			      						<img class="img-card" src="/static/img/{{ recipe.id }}.jpg">
			      					</div>
				        			<p class="text">{{ recipe.title }}</p>
		      					</a>
		  					</div>
						</div>
					{% endfor %}
					</div>
				</div>
			{% endif %}

		<h3>Most popular recipes</h3>
		{% if most_popular_recipes_list %}
		<div class="container">
  			<div class="row">
				{% for recipe in most_popular_recipes_list %}
					<div class="col-sm-4">
	  					<div class="card">
	  						<a href="{% url 'recipes:detail' recipe.id %}">
		  						<div class="card-image">
		      						<img class="img-card" src="/static/img/{{ recipe.id }}.jpg">
		      					</div>
			      				<p class="text">{{ recipe.title }}</p>
		      				</a>
	  					</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	</div>

	<div class="col-sm-3">
		{% if this_week %}
			<h3>This week</h3>
			<ul>
				{% for recipe in this_week %}
					<li><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.title }}</a>
						{% for item in shopping %}
							{% ifequal item.recipe.id recipe.id %}
								({{ item.name }})
							{% endifequal %}
						{% endfor %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% if next_week %}
			<h3>Next week</h3>
			<ul>
				{% for recipe in next_week %}
					<li><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.title }}</a>
					{% for item in shopping %}
						{% ifequal item.recipe.id recipe.id %}
							({{ item.name }})
						{% endifequal %}
					{% endfor %}
				{% endfor %}
				</li>
			</ul>
			<form action="move" method="post">
				{% csrf_token %}
				<input class="btn btn-primary" type="submit" value="Move">
			</form>

		{% endif %}
		
	</div>
</div>
</div>
{% endblock %}