{% extends 'recipes/base.html' %}

{% block content %}

<h3>Search results</h3>
<hr />
{% if queryset_list %}
	<p>Results for: {{ query }}</p>
	<div class="row">
		{% for recipe in queryset_list %}
			<div class="card recipe-card">
				<div class="card-image">
					<img class="img-card" src="/static/img/{{ recipe.id }}.jpg">
				</div>
				<div class="card-body">
	    			<h5 class="card-title">{{ recipe.title }}</h5>
	    			<hr />
	    			<a href="{% url 'recipes:detail' recipe.id %}" class="card-link btn btn-primary">View recipe</a>
	  			</div>
			</div>
		{% endfor %}
	</div>
{% else %}
	<p>No results for: {{ query }}</p>
{% endif %}

{% if tags_list %}
	<h3>Tags</h3>
	<ul id="horizontal-list">
	    {% for tag in tags_list %}
	        <li><a href="{% url 'recipes:tag' tag.id %}">{{ tag.name }}</a></li>
	    {% endfor %}
	</ul>
{% endif %}
{% endblock %}