{% extends 'recipes/base.html' %}

{% block content %}

<h3>Search results</h3>
{% if queryset_list %}
	<p>Results for: {{ query }}</p>

	<div class="container">
		<div class="row">
		{% for recipe in queryset_list %}
			<div class="col-md-4">
				<div class="card">
					<a href="{% url 'recipes:detail' recipe.id %}">
						<div class="card-image">
  							<img class="img-card" src="/static/img/{{ recipe.id }}.jpg">
  						</div>
	      				<p class="text">{{ recipe.title }}</p>
      				</a>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% else %}
	<p>No results for: {{ query }}</p>
{% endif %}

{% if tags_list %}
	<h3>Tags</h3>
	<ul id="horizontal-list">
	    {% for tag in tags_list %}
	        <li><a href="{% url 'recipes:tag' tag.id %}">{{ tag.name }}</a></li>
	    {% endfor %}
	</ul>
{% endif %}
{% endblock %}