{% extends 'recipes/base.html' %}

{% block title %}Shopping{% endblock %}

{% block content %}
  <div class="lg:m-auto lg:w-3/4 my-4 xs:mx-4 sm:mx-8 md:mx-12">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div>
        <h1 class="text-red text-center text-xl lowercase font-extrabold">
          Shopping
        </h1>
        {% if this_week or next_week or other %}
          <form action="deleteitems" method="post">
            <div class="shopping-list">
              {% if this_week %}
                <h2 class="text-red text-lg lowercase font-bold">This week</h2>
              {% endif %}
              {% for item in this_week %}
                <div class="form-check form-group">
                  <input
                    class="form-check-input"
                    name="item"
                    type="checkbox"
                    value="{{ item.id }}"
                    id="shoppingItem{{ item.id }}"
                  />
                  <label
                    class="form-check-label"
                    for="shoppingItem{{ item.id }}"
                    >{{ item.name }}
                    {% if item.recipe != None %}({{ item.recipe }}){% endif %}</label
                  >
                </div>
              {% endfor %}
              {% if next_week %}
                <h2 class="text-red text-lg lowercase font-bold">Next week</h2>
              {% endif %}
              {% for item in next_week %}
                <div class="form-check form-group">
                  <input
                    class="form-check-input"
                    name="item"
                    type="checkbox"
                    value="{{ item.id }}"
                    id="shoppingItem{{ item.id }}"
                  />
                  <label
                    class="form-check-label"
                    for="shoppingItem{{ item.id }}"
                    >{{ item.name }}
                    {% if item.recipe != None %}({{ item.recipe }}){% endif %}</label
                  >
                </div>
              {% endfor %}
              {% if other %}
                <h2 class="text-red text-lg lowercase font-bold">Other</h2>
              {% endif %}
              {% for item in other %}
                <div class="form-check form-group">
                  <input
                    class="form-check-input"
                    name="item"
                    type="checkbox"
                    value="{{ item.id }}"
                    id="shoppingItem{{ item.id }}"
                  />
                  <label
                    class="form-check-label"
                    for="shoppingItem{{ item.id }}"
                    >{{ item.name }}
                    {% if item.recipe != None %}({{ item.recipe }}){% endif %}</label
                  >
                </div>
              {% endfor %}
            </div>
            {% csrf_token %}

            <button
              class="btn btn-primary w-full md:w-auto mt-3"
              type="button"
              id="select_all"
            >
              Select all
            </button>
            <input
              class="btn btn-danger w-full md:w-auto mt-3 mb-3"
              type="submit"
              value="Delete selected"
            />
          </form>
        {% else %}
          <p>Nothing here yet.</p>
        {% endif %}
      </div>

      <div>
        <p class="text-red text-center text-xl lowercase font-extrabold">
          Add item
        </p>
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input
            class="btn btn-primary w-full md:w-auto mt-3 mb-3"
            type="submit"
            value="Add"
          />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
