{% extends 'recipes/base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-12 col-lg-6">
		<h3>Shopping</h3>
		{% if items %}
			<form action="deleteitems" method="post">
				<div class="shopping-list">
				{% for item in items %}
					<div class="form-check">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox" name="item" value="{{item.name}}" />
							{{item.name}} {% if item.recipe != None %}({{item.recipe}}){% endif %}
						</label>
					</div>
				{% endfor %}
				</div>
				{% csrf_token %}
				<p>
					<input class="btn btn-danger" type="submit" value="Delete selected">
				</p>
				<p>
				<button class="btn btn-primary" type="button" id="select_all">Select all</button>
				</p>
			</form>
		{% else %}
			<p>Nothing here yet.</p>
		{% endif %}
	</div>

	<div class="col-md-12 col-lg-6">
		<h3>Add item</h3>

		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input class="btn btn-primary" type="submit" value="Add">
		</form>
	</div>

</div>


{% endblock %}