{% extends 'recipes/base.html' %}

{% block content %}
	<h3>{{ tag.name }}</h3>

	{% if recipes %}
		<div class="row" id="more">
			{% for recipe in recipes %}
					<div class="card">
						<a href="{% url 'recipes:detail' recipe.id %}">
							<div class="card-image">
	  							<img class="img-card" src="/static/img/{{ recipe.id }}.jpg">
	  						</div>
		      				<p class="text">{{ recipe.title }}</p>
	      				</a>
					</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Nothing here yet, don't get hangry.</p>
	{% endif %}
{% endblock %}