{% extends 'recipes/base.html' %}

{% block content %}
	<h3>{{ tag.name }}</h3>
	<hr/>
	{% if recipes %}
		<div class="row" id="more">
			{% for recipe in recipes %}
					<div class="card recipe-card">
  						<div class="card-image">
      						<img class="img-card" src="/static/img/{{ recipe.image }}.jpg">
      					</div>
      					<div class="card-body">
				    		<h5 class="card-title">{{ recipe.title }}</h5>
				    		<hr class="blue" />
				    		<a href="{% url 'recipes:detail' recipe.id %}" class="card-link btn btn-primary">View recipe</a>
				  		</div>
  					</div>
			{% endfor %}
		</div>
	{% else %}
		<p>Nothing here yet, don't get hangry.</p>
	{% endif %}
{% endblock %}