@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light: #FFF9EF;
	--rose: #EDAF9D;
	--red: #ef4444;
	--navy: #344259;

	--border-color: var(--red);
	--text-colour: var(--rose);
	--link-hover: var(--light);
	--btn-text-colour: var(--navy);
	--btn-bg-colour: var(--rose);
	--btn-bg-hover-colour: var(--navy);
	--btn-hover-colour: var(--rose);
	--btn-border-colour: var(--navy);
	--card-bg-colour: var(--rose);
	--hr-colour: var(--light);
	--header-colour: var(--light);
	--header-bg-colour: var(--rose);
	--main-bg-colour: var(--navy);
	--list-colour: var(--red);
}

body {
	font-family: "Century Gothic", CenturyGothic, Tahoma, sans-serif;
}

form {
	    margin-block-end: 0;
}

ul.columns {
  columns: 2;
}

hr {
    height: 2px;
    color: var(--hr-colour);
    background: var(--hr-colour);
    font-size: 0;
    border: 0;
    width: 50%;
    margin: 15px auto;
}

ol {
   list-style: none;
   counter-reset: item;
   padding-left: 0;
}

ol li {
   counter-increment: item;
}

ol li:before {
   margin-right: 20px;
   content: counter(item);
   color: var(--list-colour);
   font-size: 1.6em;
}

.border-red {
	border: 1px solid var(--red);
}

.border-navy {
	border: 1px solid var(--navy);
}

.border-rose {
	border: 1px solid var(--rose);
}

*:focus {
    outline: 0 !important;
}

/************ Header ************/
.waves {
	height: 52px;
	background-image: url('../images/waves.svg');
}

/************ Forms ************/
.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-top: 0px;
}

/************ Header (search) ************/
.searchbar {
    padding: 10px;
}

.icon-button {
  all: unset;
}

.search_input {
    color: var(--text-colour);
    border: 0;
    outline: 0;
    background: none;
    line-height: 30px;
    font-size:30px;
    width: 80%;
    caret-color: var(--text-colour);
    border-bottom: 2px solid var(--text-colour);
}

.icon-button {
	height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
	font-size: 20px;
}

.icon-button:hover {
	cursor: pointer;
}

::placeholder {
	color: var(--text-colour);
}

.search_form {
	background-color: var(--main-bg-colour);
	overflow:hidden;
	height:0;
	-webkit-transition: all .2s linear 0s;
	transition: all .2s linear 0s;
}

.search_form.show {
	height: 60px;
}

.search_form .fas {
	color: var(--text-colour);
	margin-top:10px;
}

@media only screen 
  and (max-device-width: 812px) 
  and (orientation: portrait) { 
	.navbar > .searchbutton {
		display:none;
	}

	body {
		font-size: 18px;
	}

	.form-group > .form-check input:checked + label:after {
		top: 11px !important;
	}


	.search_form {
		height: 100px;
	}

	.search_input {
		font-size:40px;
		margin-top: 20px;
	}

	.searchbutton > .fa-search {
		font-size: 30px;
		margin-top: 15px;
	}

	.search_form .fas {
		margin-top: 25px;
	}

	.search_form.show {
		height: 100px;
	}

}

/************ Tags ************/
ul.horizontal-list {
	list-style: none;
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

ul.horizontal-list li {
	display: inline-block;
	height: 50px;
}

ul.horizontal-list li a {
	color: var(--btn-text-colour);
	text-decoration: none;
	margin:0 5px;
	background: var(--btn-bg-colour);
	padding: 6px 8px;
	border-radius: 8px;
}

ul.horizontal-list li a:hover {
	background-color: var(--btn-hover-colour);
}

.tags {
	display: inline;
	margin-bottom: 0.05rem;
}

.tags > a {
    background: var(--btn-bg-colour);
    border: 1px solid var(--btn-border-colour);
    color: var(--btn-text-colour);
    display: inline-block;
    align-self: start;
    transition: all 0.25s ease-in-out;
}

.resize {
	height: 200px;
	width: auto;
}

ul.single, ul.block {
	list-style-type: none;
	padding:0;
}

/************ Buttons ************/
.btn {
	font-size: 1em;
	letter-spacing:1px;
	width: 100%;
	border-radius: 8px;
}

.btn-primary {
	background-color: var(--btn-bg-colour);
	border: none;
	color: var(--btn-text-colour);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background-color: var(--btn-hover-colour);
}

.btn-secondary {
	background: none;
	border: 2px solid var(--pale-pink);
	color: var(--pink);
	border-radius: 0;
	font-size: 0.8rem;
 	text-transform: uppercase;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
	background-color: var(--pale-pink);
	color: var(--pink);
	border: 2px solid var(--pale-pink);
}

/************ Checkboxes ************/
.form-check input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
}

.form-check label {
  position: relative;
}

.form-check label:before {
  content:'';
  -webkit-appearance: none;
  border: 2px solid var(--text-colour);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}

.form-check input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid var(--text-colour);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/************ Recipe cards ************/
.card-image {
	height: 140px;
	overflow: hidden;
}

/************ Shopping ************/
.recipe-image {
	border-radius: 12px;
}

/************ Shopping ************/
.shopping-list {
	margin-bottom: 1rem;
}

/************ Pagination ************/
.pagination {
	margin-top: 1rem;
}

.page-link {    
	border: none;
	color: var(--text-colour);
}

.page-link:hover {
    color: var(--text-colour);
    background-color: var(--main-bg-colour);
}

.page-item.active .page-link {
    background-color: var(--text-colour);
}

#more {
	text-align: center;
	width: 40%;
	margin:20px auto;
}

/************ Media queries ************/
@media (min-width: 992px) 
{
	body {
		font-size: 0.9rem;
	}
	ul#horizontal-list li {
		height: 40px;
	}
	ul.single {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
}

.drag-and-drop-ghost {
	background-color: var(--navy) !important;
}

.recipe_item > .fas {
	cursor: grab;
	color: var(--list-colour);
}