{% load static %}

<html>
    <head>
        <title>Cookbook</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'recipes/style.css' %}">
    </head>
    <body>
    	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/recipes">Recipes</a><span class="navbar-brand blue">☺</span>
    </div>
  </div>
</nav>

        <div class="content container">
        	{% block content %}
            {% endblock %}
        </div>
    </body>
</html>