{% extends 'recipes/base.html' %}

{% block content %}

<div class="row">
	<div class="col-sm-5">
		<h3>Shopping</h3>
		{% if items %}
			<form action="deleteitems" method="post">
				<p>
				{% for item in items %}
						<input type="checkbox" name="item" value="{{item.name}}" /> {{item.name}} {% if item.recipe != None %}({{item.recipe}}){% endif %}<br />
					{% endfor %}
				{% csrf_token %}
				</p>
				<p>
				<input class="btn btn-danger" type="submit" value="Delete selected">
				</p>
				<p>
				<input class="btn btn-primary" value="Select all" id="select_all">
				</p>
			</form>
		{% else %}
			<p>Nothing here yet.</p>
		{% endif %}
	</div>

	<div class="col-sm-3">
		<h3>Add item</h3>

		<form action="" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input class="btn btn-primary" type="submit" value="Add">
		</form>
	</div>

</div>


{% endblock %}