body {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.8em;
}

ul#horizontal-list {
	list-style: none;
	padding-top:20px;
	padding-left: 0px;
}

ul#horizontal-list li {
	display: inline-block;
	margin:0 auto;
	height: 45px;
}

ul#horizontal-list li a {
	color:#fff;
	text-decoration: none;
	margin:0 5px;
	background: #4ac9ba;
	padding: 6px 8px; 
	border-radius: 6px;
}

ul#horizontal-list li a:hover {
	background: #404ec9;
}

.navbar {
	margin-bottom: 40px;
	background-color: #404ec9;
}

h3, h4 {
	color: #4ac9ba;
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 18px;
}

h4 {
	font-size: 14px;
	color: #404ec9;
}

a {
	color: #404ec9;
	text-decoration: none;
}

a:hover {
	color: #4ac9ba;
}

.resize {
	height: 200px;
	width: auto;
}

.btn-primary {
	background-color: #4ac9ba;
	border-color: #4ac9ba;
}

.btn {
	width:70%;
	max-width: 180px;
}

.navbar-brand, .nav-link {
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
}

.navbar-brand {
	font-size: 2em;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-nav .nav-link:hover {
	color: #4ac9ba;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #4ac9ba;
    border-radius: 25px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 150px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}

.card {
	border:none;
}

.card-image {
	height: 100px;
	width: 180px;
	overflow:hidden;
	border-radius: 5px;
}

.card-title {
	padding-top:5px;
}

.img-card {
	width: 200px;
}