body {
	font-family: Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.8em;
	background-color: #fff;
}

.searchbutton {
  all: unset;
}

ul#horizontal-list {
	list-style: none;
	padding-top:20px;
	padding-left: 0px;
}

ul#horizontal-list li {
	display: inline-block;
	margin:0 auto;
	height: 45px;
}

ul#horizontal-list li a {
	color:#fff;
	text-decoration: none;
	margin:0 5px;
	background: #4AD7D1;
	padding: 6px 8px; 
	border-radius: 6px;
}

ul#horizontal-list li a:hover {
	background: #5559e6;
}

.navbar {
	margin-bottom: 40px;
	padding-top:14px;
	background: rgb(90,218,194);
background: linear-gradient(90deg, rgba(85,89,230,1) 0%, rgba(63,200,228,1) 50%, rgba(90,218,194,1) 100%);
}

h3, h4 {
	font-weight: normal;
	letter-spacing: 1px;
}

h3 {
	font-family: Cambria, Georgia, serif;
	font-style:italic;
	font-size: 1.4em;
	color: #5559e6;
}

h4 {
	font-size: 1em;
	color: #404ec9;
}

a {
	color: #4AD7D1;
	text-decoration: none;
}

a:hover {
	color: #5559e6;
	text-decoration: none;
}

.resize {
	height: 200px;
	width: auto;
}

.btn-primary {
	background-color: #4AD7D1;
	border-color: #4AD7D1;
}

.btn-primary:hover {
	background-color: #5559e6;
	border-color: #5559e6;
}

.btn {
	width:70%;
	max-width: 180px;
	font-size: 1em;
	letter-spacing:1px;
}

.navbar-brand, .nav-link {
	color: #fff;
	font-size: 1em;
	letter-spacing: 1px;
}

.navbar-brand {
	text-transform: uppercase;
	font-size: 1.4em;
}

.navbar-brand:hover, .nav-link:hover {
	color: #fff;
}

.lime, .lime:visited {
  text-decoration: none;
  position: relative;
}

.lime:after, .lime:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #F8DD2E;
  transition: 0.2s;
}

.lime:hover:after, .lime:visited:hover:after {
  width: 100%;
}

.searchbar {
    height: 50px;
    background-color: #5559e6;
    border-radius: 25px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 150px;
    caret-color: #fff;
    transition: width 0.4s linear;
}

.searchbutton {
	height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
}

.fas {
	color:#F8DD2E;
}

.card {
	border:none;
	background: none;
}

.card-image {
	height: 100px;
	width: 180px;
	overflow:hidden;
	border-radius: 5px;
	border: 1px solid #F8DD2E;
	transition: border-color 1s ease;
}

.card-title {
	padding-top:5px;
}

.card-image:hover {
	transition: border-color 1s ease;
	border: 1px solid #5559e6;
}

.card-image:hover + p.text {
	color:#5559e6;
}

p.text {
  transition: color 1s ease;
}

.img-card {
	width: 200px;
}

::placeholder {
	color: #F8DD2E;
}